.btn {
    background-color: #A9CE9C;
}

table,
table tr,
table th,
table td {
    border: 1px solid lightgrey;
}

table th,
table td {
    padding: 5px;
}

table td .material-symbols-rounded {
    cursor: pointer;
}